
body{
    width: 80vw;
    position: fixed;
    left: 5vw;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    background-color: #b2f3f9;
    overflow-wrap: normal


}
.outerContainer {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 300px;
    background-color: #f1f1f1;
    border: solid 1px #000;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
}


.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: solid 1px #000;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: solid 1px #000;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px 0 5px 0;
    font-size: medium;
}




/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

